<!DOCTYPE html>
<html>
    <head>
        <title>About Vocangel</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/style.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <%- include('include/_header') %>
        <div class="jumbotron text-center">
            <h1>About Vocangel</h1>
            <p>Embrace our individualism with musical notes, with no one left behind.</p>
        </div>
        <div class="range container-fluid">
            <p>Women are typically divided into three groups: soprano, mezzo-soprano, and contralto. Men are usually divided into four groups: countertenor, tenor, baritone, and bass. Some women fall into the tenor or baritone groups, while men identified as countertenors can be grouped as contralto, mezzo-soprano, or soprano. When considering the pre-pubescent voice, an eighth term, treble, is applied.</p>
            <p>Within each of these major categories, subcategories identify specific vocal qualities such as coloratura facility and vocal weight to differentiate between voices. The vocal range of classical performance covers about five octaves, from a low G1 (in scientific pitch notation) to a high G6. Any individual’s voice can perform over a range of one and a half to more than two octaves. Vocal ranges are grouped into overlapping types that each span about two octaves. Many singers fall between groups and can perform some parts in either type.</p>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <h3>The perfect Vocal Warm up tool with Instant Feedback</h3>
                    <p>Allowing you to remain in tune and avoid going off pitch, Vocangel's WonderPitch offers a quick and easy way to get the vocals warmed up</p>
                </div>
                <div class="col-sm-4">
                    <h3></h3>
                    <p></p>
                </div>
                <div class="col-sm-4">
                    <h3></h3>
                    <p></p>
                </div>
            </div>
        </div>
    </body>
</html>