<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <meta charset="utf-8" />
    <title>Vocangel</title>
  </head>
  <header id="header">
    <a href="./" class="logo">Vocangel</a>
    <div class="header-right">
      <a class="active" href="./">Home</a>
      <a href="/game">Tuner</a>
      <a href="/about">About</a>
    </div>

    
    <script src="notes.js"></script>
  </header>
</html>
